body {
  padding-top: 70px;
  background: #FBFBFB;
  /*font-family: 'Ubuntu', sans-serif;*/
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 50px;
    margin-bottom: 40px;
}
h1 {
  font-size: 6rem;
}
h1, h2  {
  font-family: 'Oswald', sans-serif;
  color: #C00000;
}
.social {
  margin: 30px 0;
}
.social a {
  padding-right: 20px;
}
p::first-letter {
  font-weight: bold;
}
.navbar-inverse .navbar-brand:hover {
  color:#C00000;
}
/*cotact from*/
.contact-form{ margin:15px 0;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#C00000;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#C00000; border-color:#C00000; color:#fff;}
.main-btn:hover{ background:#860000;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
